<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <alias alias="IAdminRepository" type="MEDIA.IDAL.IAdminRepository,MEDIA.IDAL"/>
    <alias alias="IUserRepository" type="MEDIA.IDAL.IUserRepository,MEDIA.IDAL"/>
    <alias alias="IDonationProjectRepository" type="MEDIA.IDAL.IDonationProjectRepository,MEDIA.IDAL"/>
    <alias alias="IGoodyRepository" type="MEDIA.IDAL.IGoodyRepository,MEDIA.IDAL"/>
    <alias alias="IDonateRecordRepository" type="MEDIA.IDAL.IDonateRecordRepository,MEDIA.IDAL"/>
    <alias alias="ICountryRepository" type="MEDIA.IDAL.ICountryRepository,MEDIA.IDAL"/>
    <alias alias="IAreaRepository" type="MEDIA.IDAL.IAreaRepository,MEDIA.IDAL"/>
    <alias alias="ISportCategoryRepository" type="MEDIA.IDAL.ISportCategoryRepository,MEDIA.IDAL"/>
    <alias alias="IBlogRepository" type="MEDIA.IDAL.IBlogRepository,MEDIA.IDAL"/>
    <alias alias="IOrderInfoRepository" type="MEDIA.IDAL.IOrderInfoRepository,MEDIA.IDAL"/>
    
    <alias alias="IAdminService" type="MEDIA.IBLL.IAdminService,MEDIA.IBLL"/>
    <alias alias="IUserService" type="MEDIA.IBLL.IUserService,MEDIA.IBLL"/>
    <alias alias="IDonationProjectService" type="MEDIA.IBLL.IDonationProjectService,MEDIA.IBLL"/>
    <alias alias="IGoodyService" type="MEDIA.IBLL.IGoodyService,MEDIA.IBLL"/>
    <alias alias="IDonateRecordService" type="MEDIA.IBLL.IDonateRecordService,MEDIA.IBLL"/>

    <alias alias="IAreaService" type="MEDIA.IBLL.IAreaService,MEDIA.IBLL"/>
    <alias alias="ICountryService" type="MEDIA.IBLL.ICountryService,MEDIA.IBLL"/>
    <alias alias="ISportCategoryService" type="MEDIA.IBLL.ISportCategoryService,MEDIA.IBLL"/>
    <alias alias="IBlogService" type="MEDIA.IBLL.IBlogService,MEDIA.IBLL"/>
    <alias alias="IOrderInfoService" type="MEDIA.IBLL.IOrderInfoService,MEDIA.IBLL"/>
    <container>
      <register type="IAdminRepository" mapTo="MEDIA.DAL.AdminRepository,MEDIA.DAL" />
      <register type="IUserRepository" mapTo="MEDIA.DAL.UserRepository,MEDIA.DAL" />
      <register type="IDonationProjectRepository" mapTo="MEDIA.DAL.DonationProjectRepository,MEDIA.DAL" />
      <register type="IGoodyRepository" mapTo="MEDIA.DAL.GoodyRepository,MEDIA.DAL" />
      <register type="IDonateRecordRepository" mapTo="MEDIA.DAL.DonateRecordRepository,MEDIA.DAL" />
      <register type="ICountryRepository" mapTo="MEDIA.DAL.CountryRepository,MEDIA.DAL" />
      <register type="IAreaRepository" mapTo="MEDIA.DAL.AreaRepository,MEDIA.DAL" />
      <register type="ISportCategoryRepository" mapTo="MEDIA.DAL.SportCategoryRepository,MEDIA.DAL" />
      <register type="IBlogRepository" mapTo="MEDIA.DAL.BlogRepository,MEDIA.DAL" />
      <register type="IOrderInfoRepository" mapTo="MEDIA.DAL.OrderInfoRepository,MEDIA.DAL" />

      <register type="IAdminService" mapTo="MEDIA.BLL.AdminService,MEDIA.BLL" />
      <register type="IUserService" mapTo="MEDIA.BLL.UserService,MEDIA.BLL" />
      <register type="IDonationProjectService" mapTo="MEDIA.BLL.DonationProjectService,MEDIA.BLL" />
      <register type="IGoodyService" mapTo="MEDIA.BLL.GoodyService,MEDIA.BLL" />
      <register type="IDonateRecordService" mapTo="MEDIA.BLL.DonateRecordService,MEDIA.BLL" />

      <register type="IAreaService" mapTo="MEDIA.BLL.AreaService,MEDIA.BLL" />
      <register type="ICountryService" mapTo="MEDIA.BLL.CountryService,MEDIA.BLL" />
      <register type="ISportCategoryService" mapTo="MEDIA.BLL.SportCategoryService,MEDIA.BLL" />
      <register type="IBlogService" mapTo="MEDIA.BLL.BlogService,MEDIA.BLL" />
      <register type="IOrderInfoService" mapTo="MEDIA.BLL.OrderInfoService,MEDIA.BLL" />
    </container>
  </unity>
</configuration>

